<!DOCTYPE html>
<html lang="hr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="My awesome website about music">
		<link rel="stylesheet" href="/styles/style.css">
		<link rel="stylesheet" href="/styles/style_slike.css">
		<title>Stranica O Glazbi</title>
	</head>

	<body>
		<header>
			<h1>Web stranica WOW!</h1>
		</header>
		<nav aria-label="Main">
			<svg id="menu-toggle" width="55" height="55">
				<rect x="10" y="10" width="35" height="5" fill="white"/>
				<rect x="10" y="25" width="35" height="5" fill="white"/>
				<rect x="10" y="40" width="35" height="5" fill="white"/>
			</svg>
			<ul>
				<li><a href="/index.html">Početna</a></li>
				<li><a href="/grafikon.html">Grafikon</a></li>
				<li><a href="/slike">Slike</a></li>
			</ul>
		</nav>

		<section class="galerija">
			<h1>Galerija slika</h1>

			<!-- putanja (href) u tagu a je drugačija kad se koristi lightbox od onoga kada želimo da se
					 otvori u novom tabu -->

			<div class=" img-gallery-magnific">
			<% for (image of images) { %>
				<figure class="galerija_slika magnific-img">
					<button popovertarget="<%= image.id %>">
						<img class="image image-popup-vertical-fit" title="<%= image.title %>" src="<%= image.url %>" alt="<%= image.title %>">
					</button>
					<figcaption><%= image.title %></figcaption>
				</figure>
				<dialog id="<%= image.id %>" popover>
					<div class="lightbox">
						<a class="image-popup-vertical-fit" href="<%= image.url %>" title="<%= image.title %>">
							<img src="<%= image.url %>" alt="<%= image.title %>">
						</a>
						<span class="caption"><%= image.title %></span>
						<button popovertarget="<%= image.id %>" popovertargetaction="hide">Close</button>
					</div>
				</dialog>
			<% } %>
			</div>

		</section>
		<footer>
			<p>&copy; 2025. Web Programiranje. Sva prava pridrzana.</p>
		</footer>
	</body>
</html>
